.aside {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 117px;
	//height: 100%;
	border: 1px solid red;
	//position: relative;
	//bottom: 0;

	&__container {
		align-items: center;
		display: flex;
		//height: 100%;
		flex-direction: column;
		margin-top: 50px;
		position: relative;
		align-items: center;
		margin-bottom: 100px;

		&__logo {
			margin: 20px 0;
			width: 64px;
			height: 64px;
		}
	}

	&__copyright {
		transform: rotateZ(-90deg);
		display: flex;
		flex-wrap: nowrap;

		//	margin-bottom: 200px;
		//width: auto;
		//height: 300px;
		width: 180px;
		//margin-top: 120px;
	}
}
