.homeContainer__athletes {
	display: flex;
	height: auto;
	align-items: center;
	height: 100px;
	margin-left: 50px;
	//width: 100%;
	&__container {
		//border: 1px solid blue;
		margin: 10px;
		padding: 5px;
		//width: 100%;
		display: flex;
		//width: 500px;
		justify-content: flex-start;
	}
}

.athlete {
	border: 2px solid gray;
	height: auto;
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	background-color: rgb(196, 196, 196);
	font-weight: bold;
	//width: 100%;
}
.athlete:hover {
	//transform: scale(2);
	//color: blue;
	font-weight: 900;
	border: 3px solid black;
	//margin: 7px;
}
