nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	//	width: 100%;
	img {
		width: 170px;
		height: 60px;
	}
}

.red {
	color: red;
}

.page {
	height: 100%;
}

.recharts-bar-rectangle {
	width: 2px !important;
}

.recharts-rectangle {
	width: 2px !important;
}

.container {
	display: flex;

	&__content {
		display: flex;
		width: 100%;
		flex-direction: column;

		&__landing {
			margin-left: 20px;
		}

		&__graphics {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: flex-start;
			border: 1px solid green;
			&__charts {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				border: 1px solid blue;
				//width: 100%;
				&__top {
					margin-top: -65px;
				}

				&__bottom {
					display: flex;
					flex-direction: row;
				}
			}

			&__globalData {
				border: 1px solid red;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				height: 100%;
			}
		}
	}
}
