@import '../../generic.scss';
.keyData {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 258px;
	height: 124px;

	@include desktop-1300 {
		width: 180px;
		height: 90px;
	}

	&__img {
		height: 60px;
		width: 60px;
		margin-right: 10px;
	}
	&__txt {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		&__amount {
			font-style: normal;
			font-weight: 700;
			font-size: 20px;
		}

		&__label {
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			color: #74798c;
		}
	}
}
