.performanceContainer {
	background-color: rgba(40, 45, 48, 1);
	height: 263px;
	width: 258px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 10px;
	margin: 20px 20px 0px 20px;
}
